//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        .container
            h1 Custom Object Table
            
            a(href='http://localhost:3000/update-cobj') Add/Update this table
            
            table.table.table-striped.table-hover
                thead
                    tr
                    th Name
                    th Type of Dog
                    th Age
                    th Bio
                tbody
                each dog in data
                    tr
                        td #{dog.properties.dog_name}
                        td #{dog.properties.type_of_dog}
                        td #{dog.properties.age}
                        td #{dog.properties.bio}
                    tr